@import 'styles/variables.scss';
@import 'styles/mixins.scss';

@keyframes showingBloco{
    0%{
        opacity: 0;
    }

    25%{
        opacity: 0.25;
    }

    50%{
        opacity: 0.5;
    }

    75%{
        opacity: 0.75;
    }

    100%{
        opacity: 1;
    }
}

.project {
    cursor: pointer;
    transition: all 0.2s ease-in;
    width: 30%;
    animation: showingBloco 1.3s ease-in;
    box-sizing: border-box;
    overflow:hidden;

    @media(max-width: 767px){
        flex-direction: column;
        flex-wrap: nowrap;
        width: 100%;
    }

    &:hover {
        transform: translateY(-1rem);

        .image {
            img {
                transform: scale(1.1);
                filter: blur(0.3rem);
                -webkit-filter: blur(0.3rem);
            }

            .icon {
                top: 50%;
                right: 50%;
                transform: translate(50%, -50%) scale(3);
            }
        }
    }

    a {
        text-decoration: none;
    }

    .image {
        width: 100%;
        height: 20rem;
        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;
        margin-bottom: 1.5rem;
        overflow: hidden;
        position: relative;

        img {
            transition: all 0.3s ease-in;
        }

        .icon {
            position: absolute;
            top: 1rem;
            right: 1rem;
            z-index: 1;
            color: $white;
            width: 3rem;
            height: 3rem;
            transition: all 0.4s ease-in;
        }
    }

    span {
        color: $darkPrimary;
        font-weight: 500;
        font-size: 1.4rem;
        @media(min-width: 767px) and (max-width: 1023px){
            font-size: 1rem;
        }
        display: inline-block;
        margin-bottom: 1rem;

        &:not(:last-of-type) {
            margin-right: 1rem;

            &::after {
                content: '';
                display: inline-block;
                width: 0.5rem;
                height: 0.5rem;
                margin-left: 1rem;
                border-radius: 50%;
                background-color: $darkPrimary;
                margin-bottom: 0.2rem;
            }
        }

    }

    h3 {
        margin-bottom: 1rem;
    }

}