@import 'styles/variables.scss';
@import 'styles/mixins.scss';


.item {
    display: inline-block;

    &:not(:last-of-type) {
        margin-right: 2.5rem;
    }

    a {
        text-decoration: none;
        color: $lightPrimary;
        padding: 1rem;
        cursor: pointer;

        &:hover {
            font-weight: 600;
            color: $white;
        }
    }
}